<div class="col-lg-5 col-md-offset-3">
  <div class="card card-user">
    <div class="header">
      <div class="image">
      </div>
        <div class="author">
          <%=image_tag(@share_capital.account_owner.photo.url(:thumb), class: "avatar border-white") %>
          <h4 class="title"><%=@share_capital.account_owner.full_name %><br />
            <a href="#"><small><%=@share_capital.account_owner.occupation.try(:position) %></small></a>
          </h4>
        </div>
      </div>
      <div class="content">
      <%=simple_form_for [@share_capital, @capital_build_up], url: :share_capital_capital_build_ups do |f| %>
        <%=f.error_notification %>
        <%=f.input :description, input_html: { value: "Capital Build Up Transaction of #{@share_capital.account_owner.full_name}" }, as: :hidden  %>
        <%=f.input :date, as: :string, input_html: {class: "datepicker"} %>
        <%=f.input :reference_number %>
        <%=f.simple_fields_for :debit_amounts do |c|  %>
          <%=c.input :amount, label: "Amount" %>
          <%=c.input :account,label: "Debit Account", input_html: { value: "Cash on Hand"}, as: :hidden %>
        <% end %>
        <%=f.simple_fields_for :credit_amounts do |d|  %>
          <%=d.input :amount, label: "Credit amount", readonly: true, as: :hidden %>
          <%=d.input :account,label: "Credit Account", input_html: {value: "Share Capital"}, as: :hidden %>
        <% end %>
        <div class="modal-footer">
          <%=f.submit "Save Capital Build Up", class: "btn btn-primary btn-block", data:{disable_with: "Saving.."} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
