<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">General Ledger
          <span class="pull-right"><%=link_to "New Account", new_accounting_account_path, class: 'btn btn-primary' %></span>
        </h4>
        <hr />
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Type</th>
              <th>Debit Balance</th>
              <th>Credit Balance</th>
            </tr>
          </thead>
          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td><%=account.code %></td>
                <td><%= account.name %></td>
                <td><%=account.type.sub("Accounting::Accounts::", "") %></td>
                <td><%=number_to_currency account.debits_balance %></td>
                <td><%=number_to_currency account.credits_balance %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
