<div class="col-lg-8">
  <div class="card card-user">
     <div class="image">
     </div>
     <div class="content">
         <div class="author">
           <%=image_tag(@loan.user.photo.url(:thumb), class: "avatar border-white") %>
           <!-- <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/> -->
           <h4 class="title"><%=@loan.user.full_name %><br />
              <a href="#"><small><%=@loan.user.occupation.try(:position) %></small></a>
           </h4>
         </div>
     </div>
     <hr>
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <ul class="list-unstyled team-members">
              <li>
                <div class="row">
                  <div class="col-md-1">
                    <%=image_tag("check.png", height: 30, width: 30) %> &nbsp;
                  </div>
                  <div class="col-md-5">
                    Loan Amount
                  </div>
                  <div class="col-md-6">
                    <%=number_to_currency @loan.amount %>
                  </div>
                </div>
              </li>
              <li>
                <div class="row">
                  <div class="col-md-1">
                    <%=image_tag("check.png", height: 30, width: 30) %> &nbsp;
                  </div>
                  <div class="col-md-5">
                    Loan Amount
                  </div>
                  <div class="col-md-6">
                    <%=number_to_currency @loan.amount %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-5">
          </div>
        </div>
        <%=@loan.loan_product.name %>
        <%=link_to "Approve", new_loans_section_loan_approval_path(@loan) %>
      </div>
    </div>
  </div>

<div class="col-md-4">
  <div class="card">
    <div class="header">
      <center class="title"> Approval Status </center>
      <hr>
    </div>
    <div class="content">
      <%#=render  'human_resources/employees'%>
    </div>
  </div>
</div>
</div>
