<div class="col-md-8 col-md-offset-2">
  <div class="card">
    <div class="header">
      <h4 class="title"> Member Profile </h4>
    </div>
    <div class="content">
      <%= simple_form_for @employee do |f| %>
        <%=f.error_notification %>
        <%if @employee.photo.blank? %>
          <center><%=image_tag("default.png", height: 70, width: 70, :class=>"img-circle center-block ") %></center>
        <% else %>
          <center><%= image_tag @employee.photo.url(:large), class: 'center-block img-responsive img-rounded'%></center>
        <% end %>
        <center><%= f.input :photo, class: 'center-block', as: :file %></center>
        <div class="row">
          <div class="col-md-5">
            <%=f.input :first_name, label: "First Name", autofocus: true, input_html: {oninput: "generate_email()", autocomplete: 'off'} %>
          </div>
          <div class="col-md-3">
            <%=f.input :middle_name, label: "Middle Name" %>
          </div>
          <div class="col-md-4">
            <%=f.input :last_name, label: "Last Name"%>
          </div>
        </div>
        <small> <%=image_tag("phone-call.png", height: 20, width: 20) %> &nbsp; Contact Information </small>
        <hr>

        <div class="row">
          <div class="col-md-6">
            <%=f.input :email %>
          </div>
          <div class="col-md-6">
            <%=f.input :mobile_number, label: "Contact Number" %>
          </div>
        </div>
        <%=f.input :role_id, collection: HumanResources::Role.all, as: :radio_buttons %>
          <small> <%=image_tag("engineer.png", height: 20, width: 20) %> Account Details </small><hr>
        <%=f.input :password %>
        <%=f.input :password_confirmation %>
        <div class="modal-footer">
          <% if @employee.new_record? %>
            <%=f.submit 'Register Employee', class: 'btn btn-primary', data: {disable_with: "Saving Member..."} %>
          <% else %>
            <%=f.submit 'Update Employee', class: 'btn btn-primary', data: {disable_with: "Updating Member..."} %>
          <% end %>
          <span class="pull-left"><%= link_to "Cancel", @employee,  class: "btn btn-default"%></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
