<div class="col-lg-12">
  <div class="card card-user">
    <div class="header">
      <b># <%=@share_capital.account_number %></b>
    </div>
     <div class="image">
     </div>
     <div class="content">
         <div class="author">
           <%=image_tag(@share_capital.account_owner.photo.url(:thumb), class: "avatar border-white") %>
           <!-- <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/> -->
           <h4 class="title"><%=@share_capital.account_owner.full_name %><br />
              <a href="#"><small><%=@share_capital.account_owner.occupation.try(:position) %></small></a>
           </h4>
         </div>
     </div>
     <hr>
     <div>
       <div class="content">
        <div class="row">
           <div class="col-md-5">
             <ul class="list-unstyled team-members">
               <li>
                 <div class="row">
                   <div class="col-md-1">
                      <span class="title"><%=image_tag("pie-chart-1.png", width: 30, height: 30) %>
                      </div>
                        <div class="col-md-5">
                        Balance
                      </div>
                      <div class="col-md-5">
                        <span class="pull-right"> <%=number_to_currency @share_capital.balance %></span></span>
                      </div>
                    </div>
           </li>
           <li>
             <div class="row">
               <div class="col-md-1">
                  <span class="title"><%=image_tag("pie-chart-1.png", width: 30, height: 30) %>
                  </div>
                    <div class="col-md-5">
                    Balance
                  </div>
                  <div class="col-md-5">
                    <span class="pull-right"> <%=number_to_currency @share_capital.balance %></span></span>
                  </div>
                </div>
       </li>

         </ul>
          </div>
          <div class="col-md-6 col-md-offset-1">
           <ul class="list-unstyled team-members">
             <li>
            <h5 class="title">Capital Build Up History
            <span class="pull-right"><%=link_to new_share_capital_capital_build_up_path(@share_capital), title: "New Capital Build Up" do %>
              <span class="btn btn-primary btn-icon" data-toggle="tooltip" title="New Capital Build Up"><i class="fa fa-plus"></i></span>
            <% end %>
          </span>
          </h5>
        </li>
      </ul>


            <%=render 'accounting/transactions/capital_build_ups/capital_build_up', capital_build_ups: @share_capital.capital_build_ups %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
