<div class="container">
  <div class="card">
    <div class="header">
      <h4 class="title">Entry Details</h4>
      <hr>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-5 border-right">
      </div>
      <div class="col-md-5 col-md-offset-1">
        <%=simple_form_for @entry, url: :accounting_entry do |f| %>
          <%=f.input :description %>
          <%=f.input :reference_number%>
          <%=f.input :date, as: :string, input_html: {class: "datepicker"} %>
          <h4 class="text-uppercase">Debit Account</h4>
          <%=f.simple_fields_for :debit_amounts do |c|  %>
            <%=c.input :amount, label: "Debit amount" %>
            <%=c.input :account,label: "Debit Account", input_html: {id: 'debit_account'} %>
          <% end %>
          <h4 class="text-uppercase">Credit Account</h4>
          <%=f.simple_fields_for :credit_amounts do |d|  %>
            <%=d.input :amount, label: "Credit amount"%>
            <%=d.input :account,label: "Credit Account", input_html: {id: 'credit_account'} %>
          <% end %>
          <div class="modal-footer">
            <%=f.submit "Save Entry", class: "btn btn-primary", data:{disable_with: "Saving Entry.."} %>
            <%=link_to "or Cancel", accounting_entries_path(@business), class: "btn btn-default pull-left", data: {disable_with: "Cancelling..."} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
